<h1>Rails TurboChat</h1>
<p> Realtime chat App with chatrooms</p>

<%= link_to "Chatrooms", "#" %>

<% if current_user %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
